<div class="container-fluid m-0 p-0 text-white custom-scrollbar" style="height: 100vh;">
    <div class="col-md-12 py-4">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <img src="assets/images/user.png" class="h-25 w-25" alt="teste">
        </div>
        <div class="col-md-12 d-flex justify-content-md-evenly mt-3">
            <div class="col-md-4 d-md-flex justify-content-md-center">
                <button class="bg-transparent border-0 text-white">Sair</button>
            </div>

            <div class="col-md-4 d-md-flex justify-content-md-center">
                <button class="bg-transparent border-0 text-white">Settings</button>
            </div>
        </div>
    </div>

    <hr>

    <div class="col-md-12">
        <div class="col-md-12">
            <button
                class="btn bg-transparent border-0 col-md-8 d-md-flex h-100 align-items-md-center justify-content-md-evenly"><i
                    class="fa-solid fa-gear fa-lg" style="color: #ffffff;"></i>
                <p class="text-altivo">
                <p class="text-altivo fs-6 fw-medium text-white m-0 mt-1">Estoque</p>
            </button>
        </div>

        <div class="col-md-12">
            <button
                class="btn bg-transparent border-0 col-md-8 d-md-flex h-100 align-items-md-center justify-content-md-evenly"><i
                    class="fa-regular fa-user fa-lg" style="color: #ffffff;"></i>
                <p class="text-altivo">
                <p class="text-altivo fs-6 fw-medium text-white m-0 mt-1">Usuários</p>
            </button>
        </div>
    </div>
</div>