.accordion-item {
    background: linear-gradient(180deg, rgb(54, 54, 54), #252525);
    color: #fff;
    border: none;
}

.accordion-header {
    background: linear-gradient(180deg, rgb(54, 54, 54), #252525);
    color: #fff;
    border: none;
}

.accordion-button {
    background: linear-gradient(180deg, rgb(54, 54, 54), #252525);
    color: #fff;
    border: none;
    border: none;
}

.accordion-button:not(.collapsed) {
    background-color: #000;
    color: #fff;
    box-shadow: none;
}

.accordion-button::after {
    filter: brightness(0) invert(1);
}

.accordion-body {
    background-color: #222;
    color: #fff;
    border: none;
}