<div class="container-fluid m-0 p-0 text-white custom-scrollbar" style="height: 100vh;">
    <div class="col-md-12 py-4">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <img src="assets/images/user.png" class="h-25 w-25" alt="teste">
        </div>
        <div class="col-md-12 d-flex justify-content-md-evenly mt-3">
            <div class="col-md-4 d-md-flex justify-content-md-center">
                <button class="bg-transparent border-0 text-white">Sair</button>
            </div>

            <div class="col-md-4 d-md-flex justify-content-md-center">
                <button class="bg-transparent border-0 text-white">Settings</button>
            </div>
        </div>
    </div>

    <hr class="m-0">

    <div class="col-md-12 d-flex justify-content-center">
        <div class="col-md-12">
            <div class="accordion" id="menuAccordion">
                <!-- Estoque -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEstoque">
                        <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEstoque" aria-expanded="true" aria-controls="collapseEstoque">
                            <i class="pi pi-box me-2"></i> Estoque
                        </button>
                    </h2>
                    <div id="collapseEstoque" class="accordion-collapse collapse" aria-labelledby="headingEstoque"
                        data-bs-parent="#menuAccordion">
                        <div class="accordion-body p-0">
                            <button (click)="navegarEntrePaginas('produtos')"
                                class="btn bg-transparent d-flex align-items-center py-3 px-4 w-100 border-0"
                                style="color: white;">
                                <i class="pi pi-user-edit me-2"></i> Gerenciar Estoque
                            </button>
                            <!-- <button (click)="navegarEntrePaginas('cliente-editar')"
                                class="btn bg-transparent d-flex align-items-center py-3 px-4 w-100 border-0"
                                style="color: white;">
                                <i class="pi pi-user-edit me-2"></i> Gerenciar Clientes
                            </button> -->
                        </div>
                    </div>
                </div>

                <!-- Clientes -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingClientes">
                        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseClientes" aria-expanded="false" aria-controls="collapseClientes">
                            <i class="pi pi-users me-2"></i> Clientes
                        </button>
                    </h2>
                    <div id="collapseClientes" class="accordion-collapse collapse w-100"
                        aria-labelledby="headingClientes" data-bs-parent="#menuAccordion">
                        <div class="accordion-body p-0">
                            <button (click)="navegarEntrePaginas('cliente-editar')"
                                class="btn bg-transparent d-flex align-items-center py-3 px-4 w-100 border-0"
                                style="color: white;">
                                <i class="pi pi-user-edit me-2"></i> Gerenciar Clientes
                            </button>
                            <!-- <button (click)="navegarEntrePaginas('cliente-editar')"
                                class="btn bg-transparent d-flex align-items-center py-3 px-4 w-100 border-0"
                                style="color: white;">
                                <i class="pi pi-user-edit me-2"></i> Gerenciar Clientes
                            </button> -->
                        </div>
                    </div>
                </div>

                <!-- Fornecedores -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSupplier">
                        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSupplier" aria-expanded="false" aria-controls="collapseSupplier">
                            <i class="pi pi-users me-2"></i> Fornecedores
                        </button>
                    </h2>
                    <div id="collapseSupplier" class="accordion-collapse collapse w-100"
                        aria-labelledby="headingClientes" data-bs-parent="#menuAccordion">
                        <div class="accordion-body p-0">
                            <button (click)="navegarEntrePaginas('fornecedores')"
                                class="btn bg-transparent d-flex align-items-center py-3 px-4 w-100 border-0"
                                style="color: white;">
                                <i class="fa-solid fa-truck-field me-2"></i> Gerenciar Fornecedores
                            </button>
                            <!-- <button (click)="navegarEntrePaginas('cliente-editar')"
                                class="btn bg-transparent d-flex align-items-center py-3 px-4 w-100 border-0"
                                style="color: white;">
                                <i class="pi pi-user-edit me-2"></i> Gerenciar Clientes
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>