<div class="container-fluid m-0 p-0 text-white custom-scrollbar" style="height: 100vh;">
    <div class="col-md-12 py-4">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <img src="assets/images/user.png" class="h-25 w-25" alt="teste">
        </div>
        <div class="col-md-12 d-flex justify-content-md-evenly mt-3">
            <div class="col-md-4 d-md-flex justify-content-md-center">
                <button class="bg-transparent border-0 text-white">Sair</button>
            </div>

            <div class="col-md-4 d-md-flex justify-content-md-center">
                <button class="bg-transparent border-0 text-white">Settings</button>
            </div>
        </div>
    </div>

    <hr class="m-0">

    <div class="col-md-12 d-flex justify-content-center">
        <div class="col-md-12">
            <div class="accordion" id="menuAccordion">
                <!-- Estoque -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEstoque">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEstoque" aria-expanded="true" aria-controls="collapseEstoque">
                            <i class="pi pi-box me-2"></i> Estoque
                        </button>
                    </h2>
                    <div id="collapseEstoque" class="accordion-collapse collapse show" aria-labelledby="headingEstoque"
                        data-bs-parent="#menuAccordion">
                        <div class="accordion-body">
                            <a [routerLink]="'/installation'" class="d-flex align-items-center py-2 ms-3">
                                <i class="pi pi-chart-bar me-2"></i> Relatório
                            </a>
                            <a [routerLink]="'/configuration'" class="d-flex align-items-center py-2 ms-3">
                                <i class="pi pi-database me-2"></i> Gerenciar Estoque
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Clientes -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingClientes">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseClientes" aria-expanded="false" aria-controls="collapseClientes">
                            <i class="pi pi-users me-2"></i> Clientes
                        </button>
                    </h2>
                    <div id="collapseClientes" class="accordion-collapse collapse" aria-labelledby="headingClientes"
                        data-bs-parent="#menuAccordion">
                        <div class="accordion-body">
                            <a (click)="navegarEntrePaginas('cliente-editar')"
                                class="d-flex align-items-center py-2 ms-3">
                                <i class="pi pi-user-edit me-2"></i> Gerenciar Clientes
                            </a>
                            <a [routerLink]="'/configuration'" class="d-flex align-items-center py-2 ms-3">
                                <i class="pi pi-user-plus me-2"></i> Cadastrar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>