<div class="col-md-12">
    <div class="col-md-12 d-flex flex-column justify-content-center my-4 px-4">
        <div class="col-md-11">
            <p class="text-poppins fs-3 text-white fw-semibold ms-1">Bom dia, {{ usuario }}</p>
            <hr style="color: white;">
        </div>

        <div class="col-md-12">
            <div class="col-md-12">
                <h2 class="mb-4 text-white">Estoque de Produtos</h2>


                <div class="col-md-12 d-flex justify-content-center mb-5">
                    <div class="col-md-6">
                        <div class="container">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>


                <div class="col-md-12 d-flex justify-content-center">
                    <div class="col-md-10">
                        <table class="table table-dark table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Nome do Produto</th>
                                    <th>Quantidade</th>
                                    <th>Preço</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let produto of produtos">
                                    <td>{{ produto.nome }}</td>
                                    <td>{{ produto.quantidade }}</td>
                                    <td>{{ produto.preco | currency:'BRL' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>